.container {
    margin-top: 19%;
    margin-bottom: 19%;
    font-size: 30px;
    width: 100%;
    height: calc(100% - 185px);
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}