$white: #ffffff;
$black: #000000;

//Login Screen
$crimsonRed: rgb(220, 20, 60);
$successGreen: #4dce42;
$blackBoxShadow: rgba(0, 0, 0, 0.06);
$loginScreenBlue: #558ccc;
$loginScreenDarkBlue: #002a4a;
$loginScreenLoginBoxShadow: rgba(128, 201, 255, 0.53);
$loginScreenUsernameBoxShadow: rgba(85, 140, 204, 0.28);
$loginScreenPasswordBorder: #97a0b3;
$loginScreenForgotPasswordColor: #b3b3b3;

//Recover Password
$recoverPasswordBackgroundWhite: #e6e6e6;

//Footer
$footerContainerBlue: #406da1;

//Header
$headerWhite: #f8f6f6;
$headerLightBlue: #899db5;
$headerBoxShadow: #ccc;
$headerOptionSelectedBlue: #4a90e2;
$headerIconBlue: #4481c7;
$headerListHoverWhite: #ecf3fc;
$headerOptionLightRed: #999999;
$headerOptionSelectedBlue2: #3d7edb;
